{% include templates/header.html %}

{% include pages/topbg.html %}
{% include pages/home/hero.html %}
{% include pages/home/swiper.html %}
{% include pages/home/intro.html %}
{% include pages/home/testimonials.html %}
{% include pages/home/benefits.html %}
{% include pages/home/pricing.html %}
{% include pages/home/startups.html %}
{% include pages/home/documentary.html %}
{% include pages/home/press.html %}
{% include pages/home/board.html %}
{% include pages/home/location.html %}

{% include templates/footer.html %}
