</main>
<div id="footer-holder">
	<div id="footer">
		<div>
			<a href="/" id="header-logo" class="footer-logo" style="line-height: 42px; float: left;">
				<img src="/static/images/logo.png" id="logo-icon" style="width: 40px; height: 40px;" />
				<div id="logo-text" style="font-size: 18px; color: #fff; font-weight: 500;">Hacker Dojo</div>
			</a>
			
			<div class="clear"></div>
			<div id="copyright" class="copyright">© 2025 Hacker Dojo. All rights reserved.</div>
		</div>
		<div>
			<div class="footer-title">501(c)3 Non-Profit</div>
			<div class="footer-links">
				<a href="https://calendly.com/hdfrontdesk/30min">Take a tour</a>
				<a href="https://hackerdojo.spaces.nexudus.com/?public&">Membership</a>
				<a href="https://www.meetup.com/hackerdojo/events/">Events</a>
			</div>
		</div>
		<div>
			<div class="footer-title">EIN # 26-4812213</div>
			<div class="footer-links">
				<a href="https://drive.google.com/drive/u/0/folders/0AKfuxK7ZD6_OUk9PVA">501c3 Docs</a>
				<a href="https://wiki.hackerdojo.com/index.php?title=Hacker_Dojo_Policies">Policies</a>
			</div>
			<div class="footer-title">Phone: (650) 429-8605</div>
		</div>
		
		<div class="copyright-bottom">© 2025 Hacker Dojo. All rights reserved.</div>
	</div>
</div>

<script src="/static/js/tilt.js"></script>
</body>
</html>
