</main>
<div id="footer-background">
  <div id="footer-holder">
	  <div>
		  <a href="/" id="header-logo" class="footer-logo" style="line-height: 42px; float: left;">
        <img src="/static/images/logo.png" id="logo-icon" style="width: 40px; height: 40px;" />
			  <div id="logo-text" style="font-size: 18px; color: #fff; font-weight: 500;">Hacker Dojo</div>
		  </a>
      <div class="copyright wide">© 2009-2026 Hacker Dojo<BR> All rights reserved.</div>
	  </div>
	  <div class="footer-links">
		  <a href="https://calendly.com/hdfrontdesk/30min">Take a tour</a>
		  <a href="https://hackerdojo.spaces.nexudus.com/?public&">Membership</a>
		  <a href="https://www.meetup.com/hackerdojo/events/">Events</a>
      <a href="https://www.meetup.com/hackerdojo/events/">Accelerator</a>
      <a href="https://www.meetup.com/hackerdojo/events/">AI Stars</a>
      <a href="https://www.meetup.com/hackerdojo/events/">Summer Camp</a>
      <a href="https://wiki.hackerdojo.com/index.php?title=Main_Page">Wiki</a>
	  </div>
	  <div>
		  <div class="footer-title">501(c)(3) Non-Profit</div>
		  <div>EIN # 26-4812213</div>
		  <div class="footer-links">
			  <a href="https://drive.google.com/drive/u/0/folders/0AKfuxK7ZD6_OUk9PVA">501(c)(3) Docs</a>
      </div>
		  <div class="footer-links">
			  <a href="https://wiki.hackerdojo.com/index.php?title=Hacker_Dojo_Policies">Policies</a>
		  </div>
		  <div class="footer-title">Phone: (650) 429-8605</div>
	  </div>
  </div>
  <div class="copyright narrow">© 2009-2026 Hacker Dojo<BR> All rights reserved.</div>

</div>

<script src="/static/js/tilt.js"></script>
</body>
</html>
