<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/x-icon" href="static/images/favicon/hackerdojo.ico">

	<title>{{ page.title }}</title>

	<!-- CSS -->
	<link href="static/css/style.css" rel="stylesheet" type="text/css">
	<link href="static/css/swiper.css" rel="stylesheet" type="text/css">

	<!-- ICONS -->
	<script src="https://unpkg.com/@phosphor-icons/web"></script>

	<!-- FONTS -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Saira:wght@100;200;300;400;500;600&display=swap" rel="stylesheet">

	<!-- JAVASCRIPT -->
	<script src="/static/js/functions.js" type="text/javascript"></script>
	<script defer data-domain="hackerdojo.org" src="https://plausible.io/js/script.js"></script>

    <!-- SWIPER -->
    <link rel="stylesheet" href="static/swiper@12/swiper-bundle.min.css"/>
    <script src="static/swiper@12/swiper-bundle.min.js"></script>

	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-QXF7ZPB5T3"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	
	  gtag('config', 'G-QXF7ZPB5T3');
	</script>
</head>
<body>
<main>
<div class="section header-section" style="padding: 0; position: relative">
	<div id="header">
		<div id="header-left">
			<a href="/" id="header-logo">
				<img src="static/images/logo.png" id="logo-icon" />
				<div id="logo-text">Hacker Dojo</div>
			</a>
		</div>

		<div id="top-navigation">
			<a href="https://wiki.hackerdojo.com/index.php?title=Main_Page">About</a>
			<a href="https://www.meetup.com/hackerdojo/events/">Events</a>
			<span class="top-navigation-link" onClick="getid('startups-holder').scrollIntoView({ behavior: 'smooth' })">Startups</span>
			<span class="top-navigation-link" onClick="getid('pricing-holder').scrollIntoView({ behavior: 'smooth' })">Pricing</span>
			<a href="https://www.every.org/hacker-dojo?donateTo=hacker-dojo#/donate/card" target="_blank" class="mobile-donate-button-header" style="">Donate</a>
		</div>

		<div id="header-right">
			<div id="account">
				<a href="https://www.meetup.com/hackerdojo/events/calendar/" target="_blank">
					<svg style="color:#df3f33; width: 24px; height: 24px; float: left;" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.7" stroke="currentColor" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5m-9-6h.008v.008H12v-.008zM12 15h.008v.008H12V15zm0 2.25h.008v.008H12v-.008zM9.75 15h.008v.008H9.75V15zm0 2.25h.008v.008H9.75v-.008zM7.5 15h.008v.008H7.5V15zm0 2.25h.008v.008H7.5v-.008zm6.75-4.5h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V15zm0 2.25h.008v.008h-.008v-.008zm2.25-4.5h.008v.008H16.5v-.008zm0 2.25h.008v.008H16.5V15z" /></svg>
				</a>
				<a href="https://hackerdojo.spaces.nexudus.com/login">
					<svg style="color:#df3f33; width: 24px; height: 24px; float: left;" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.7" stroke="currentColor" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" /></svg>
				</a>
			</div>

			<div class="mobile-navigation-holder">
				<div class="mobile-navigation-button" onclick="toggleNav()">
					<div></div>
					<div></div>
					<div></div>
				</div>

				<div id="mobile-navigation-popup" class="mobile-navigation-popup">
					<a href="https://hackerdojo.spaces.nexudus.com/login" style="font-weight: 500 !important;">Member Portal</a>

					<a href="https://www.meetup.com/hackerdojo/" id="events-button" class="button events-button" style="max-width: 120px; margin: auto; padding: 0px 14px;">
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6" style=""><path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5m-9-6h.008v.008H12v-.008zM12 15h.008v.008H12V15zm0 2.25h.008v.008H12v-.008zM9.75 15h.008v.008H9.75V15zm0 2.25h.008v.008H9.75v-.008zM7.5 15h.008v.008H7.5V15zm0 2.25h.008v.008H7.5v-.008zm6.75-4.5h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V15zm0 2.25h.008v.008h-.008v-.008zm2.25-4.5h.008v.008H16.5v-.008zm0 2.25h.008v.008H16.5V15z" style="color: #e13838;" /></svg>
						<span>Events</span>
					</a>

					<a href="https://wiki.hackerdojo.com/index.php?title=Main_Page">About</a>
					<span class="top-navigation-link popup-link" onClick="getid('startups-holder').scrollIntoView({ behavior: 'smooth' })">Startups</span>
					<span class="top-navigation-link popup-link" onClick="getid('pricing-holder').scrollIntoView({ behavior: 'smooth' })">Pricing</span>
					<a href="https://www.every.org/hacker-dojo/f/hacker-dojo-expansion">Donate</a>
					<a href="https://calendly.com/hdfrontdesk/30min">Take A Tour</a>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	function toggleNav() {
		if(hasClass(getid("mobile-navigation-popup"), "mobile-navigation-popup-visible")) {
			removeClass("mobile-navigation-popup", "mobile-navigation-popup-visible");
		} else {
			addClass("mobile-navigation-popup", "mobile-navigation-popup-visible");
		}
	}
</script>
