<div class="section">

	<div class="section-header">
		<div class="section-title">Connect with us on social media</div>
	</div>

	<div class="section-content">
		<div class="socials">
			<a href="https://meetup.com/hackerdojo" class="social" target="_blank">
				<img src="static/images/socials/meetup.png" style="height: 40px" />
			</a>

			<a href="https://lu.ma/user/hackerdojo" class="social" target="_blank">
				<img src="static/images/socials/luma.png" />
			</a>

			<a href="https://discord.gg/qFWuymdqK5" class="social" target="_blank">
				<img src="static/images/socials/discord.png" />
			</a>

			<a href="https://x.com/hackerdojo" class="social" target="_blank">
				<img src="static/images/socials/x.png" />
			</a>

			<a href="https://facebook.com/hackerdojo" class="social" target="_blank">
				<img src="static/images/socials/facebook.png" />
			</a>
		</div>
	</div>
</div>
