* {
	margin: 0;
	padding: 0;
}

a {
	color:#0000EE;
	text-decoration: none;
}

.clear {
	clear: both;
}

body {
	background: #f5f5f5;
	font-size: 14px;
	font-family: 'Saira', monospace;
	min-height: 100vh;
	display: grid;
	grid-template-rows: 1fr auto;
	position: relative;
}

.button {
	background: #fff;
	color:#000;
	font-family: "Rajdhani";
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 0.8px;
	text-transform: uppercase;
	padding: 12px 20px;
	border-radius: 12px;
}

.button-red {
	color:#fff;
	background: #e13838;
}

.button-darkblue {
	color:#fff;
	background: #444C5A;
}

.button-header {
	padding: 8px 15px;
}

#account {}

#account a {
	width: 30px;
	height: 30px;
	float: left;
	margin-left: 15px;
}

/* .account-button {
	float: left; 
	width: 30px;
	height: 30px;
	/* height: 36px;
	padding: 0px 3px 0px 10px; */
} */

/* .account-button a {
	color:#e13838;
}

.account-button svg {
	color:#e13838;
} */

#top-bg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 800px;
	background-color: #fff0df;
	background-image: linear-gradient(0deg, #6d3bdb 10%, #fff0df 45%, #fff0df 100%);
	z-index: 0;
	opacity: 0.2;
}

#page {
	max-width: 960px;
	margin: auto;
}

.section {
	background: #f5f5f5;
	padding: 80px 40px;
	text-align: center;
	margin: auto;
}

.section-header {
	margin: auto;
	text-align: center;
	margin-bottom: 40px;
}

.section-title {
	font-size: 20px;
	font-weight: 600;
	font-family: "Rajdhani";
	letter-spacing: 0.5px;
	font-weight: 600;
	color:#df3f33;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 20px;
}

.section-small-title {
	font-family: "Rajdhani";
	font-size: 16px;
	letter-spacing: 0.8px;
	font-weight: 600;
	color:#505050;
	text-transform: uppercase;
	margin-bottom: 4%;
}

.section-description {
	font-size: 20px;
	margin-bottom: 8%;
}

.section-content {
	max-width: 900px;
	margin: auto;
}

.section-location {
	padding-bottom: 40px;
}

#header {
	width: 960px;
	line-height: 40px;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	z-index: 20;
	padding: 20px 0px;
}

#header-left {
	float: left;
}

#header-right {
	height: 30px;
}

.header-section {
	width: 100%;
	box-sizing: border-box;
}

/* #header-right a {
	
} */

/* #header-right svg {
	float: left;
	width: 30px !important;
	height: 30px !important;
} */

#logo-icon {
	width: 40px;
	float: left;
	margin-right: 12px;
}

#logo-text {
	float: left;
	text-transform: uppercase;
	color: #000;
	font-size: 18px;
	letter-spacing: 1px;
	font-weight: 500;
	margin-right: 20px;
}

#top-navigation {}

#top-navigation a {
	float: left;
	color:#000;
	font-size: 15px;
	letter-spacing: 0.4px;
	font-weight: 500;
	text-transform: uppercase;
	margin: 0px 15px;
}

.top-navigation-link {
	color:#000;
	font-size: 15px;
	letter-spacing: 0.4px;
	font-weight: 500;
	text-transform: uppercase;
	margin: 0px 15px;
	float: left;
	cursor: pointer;
}

.popup-link {
	padding: 15px;
	display: block;
	box-sizing: border-box;
	text-align: center;
	float: none;
}

.mobile-navigation-holder {
	display: none;
}

.mobile-navigation-button {
	padding: 4px;
	border-radius: 10px;
}

.mobile-navigation-button:active {
	background: #e5e5e5;
}

.mobile-navigation-button div {
	width: 20px;
	height: 3px;
	border-radius: 3px;
	margin: 3px 0px;
	background: #000;
}

.mobile-navigation-popup {
	background: #f8f4f1;
	box-sizing: border-box;
	top: 0px;
	right: 10px;
	left: 10px;
	border-radius: 15px;
	position: absolute;
	z-index: 10;
	transform: scale(0.8);
	opacity: 0.5;
	z-index: -1;
	visibility: hidden;
	transition: all 0.2s;
	box-shadow: 0px 0px 1px rgba(0,0,0,0.04), 0px 0px 2px rgba(0,0,0,0.04), 0px 0px 3px rgba(0,0,0,0.02), 0px 0px 5px rgba(0,0,0,0.03), 0px 5px 10px rgba(0,0,0,0.1);
}

.mobile-navigation-popup svg {
	width: 24px;
	height: 24px;
	float: left;
	margin-top: 6px;
}

.mobile-navigation-popup-visible {
	transform: scale(1);
	top: 75px;
	opacity: 1;
	z-index: 10;
	visibility: visible;
}

.mobile-navigation-popup a {
	color:#000;
	font-weight: 500;
	text-transform: uppercase;
	padding: 14px 15px;
	display: block;
	box-sizing: border-box;
	text-align: center;
}

.hero-section {
	padding: 0px;
	padding-bottom: 100px;
	background-image: linear-gradient(0deg, #6d3bdb2e 10%, #f5f5f5 45%, #f5f5f5 100%);
	overflow: hidden;
}

#hero {
	max-width: 850px;
	margin: auto;
	text-align: center;
	padding: 70px 20px 60px 20px;
	position: relative;
}

#hero-content {
	position: relative;
	z-index: 2;
}

#hero-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
}

#hero-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#hero-tagline {
	font-family: "Rajdhani";
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 0.8px;
	padding: 3px 8px 2px 8px;
	border-radius: 6px;
	background: #ffffff;
	color: #516368;
	text-transform: uppercase;
	float: left;
	margin-bottom: 5px;
}

#hero-title {
	max-width: 850px;
	font-size: 74px;
	font-family: "Rajdhani";
	font-weight: 600;
	line-height: 1.2;
	color: #111;
	margin: auto;
	margin-bottom: 20px;
}

#hero-title-mobile {
	display: none;
	font-family: "Rajdhani";
	font-weight: 600;
	line-height: 1.2;
	font-size: 48px;
	color: #111;
	margin-bottom: 10px;
}

#hero-description {
	font-size: 22px;
	max-width: 650px;
	color:#222;
	margin: auto;
	padding: 0px 80px 50px 80px;
}

#hero-links {
	max-width: 370px;
	margin: auto;
	text-align: center;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
}

#hero-links a {}

#hero-icon-bg {
	width: 680px;
	margin: auto;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	position: absolute;
	opacity: 0.04;
	z-index: 0;
}

#office-carousel {}

#office-carousel img {
	width: 100%;
	border-radius: 20px;
}

#intro {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;
}

.intro-section {
	padding-top: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
}

.intro {
	background: #fff;
	border-radius: 12px;
	padding: 20px 25px 25px 25px;
	overflow: hidden;
	box-shadow: 0px 0px 1px rgba(0,0,0,0.04), 0px 0px 2px rgba(0,0,0,0.04), 0px 0px 3px rgba(0,0,0,0.02), 0px 0px 5px rgba(0,0,0,0.03);
	transform-style: preserve-3d;
	border: 3px solid #fff;
}

.intro:hover {
	border-color: peachpuff;
}

.intro-header {
	width: 700px;
	margin-bottom: 7px;
}

.intro-icon {
	width: 24px;
	float: right;
	position: absolute;
	top: 20px;
	right: 20px;
	text-align: center;
	z-index: 0;
}

.intro-icon:hover {}

.intro-icon span {
	font-size: 22px;
	font-weight: 500;
	line-height: 1;
	color:#d74747ff;
}

.intro-icon svg {
	height: 100%;
	color:#d74747ff;
}

.intro-title {
	font-size: 22px;
	font-family: "Rajdhani";
	font-weight: 600;
	/* line-height: 24px; */
	float: left;
	transform: translateZ(20px);
	position: relative;
	z-index: 1;
}

.intro-description {
	font-size: 15px;
	position: relative;
	z-index: 1;
	text-align: left;
}

.intro-button {
	background: #222;
	font-size: 11px;
	text-transform: uppercase;
	color:#fff;
	border-radius: 7px;
	float: left;
	padding: 5px 10px;
}

#main-intro {
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-gap: 10px;
}

#main-intro div {}

.testimonial-section {
	padding-bottom: 0px;
}

.testimonials {
	margin-bottom: 50px;
}

.testimonial {
	background: #e5e5e5;
	background: bisque;
	text-align: center;
	max-width: 600px;
	margin: auto;
	position: relative;
	box-shadow: 0px 0px 1px rgba(0,0,0,0.05), 0px 0px 2px rgba(0,0,0,0.07), 0px 0px 3px rgba(0,0,0,0.02), 0px 0px 5px rgba(0,0,0,0.03);
	visibility: hidden;
	display: none;
	position: relative;
	border-radius: 4px;
}

.testimonial-content {
	height: 180px;
	padding: 20px 20px 10px 20px;
	display: grid;
	align-items: center;
	align-content: center;
}

.visible {
	visibility: visible;
	display: block;
}

.testimonial-text {
	font-size: 18px;
	margin-bottom: 12px;
	color:#444;
	position: relative;
	padding: 0px 30px;
}

.testimonial-name {
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 0px;
}

.testimonial-info {
	font-size: 14px;
	text-transform: uppercase;
	color:rgba(0,0,0,0.7);
}

.testimonial-opening-sign {
	font-size: 50px;
	color: rgba(0,0,0,0.12);
	position: absolute;
	top: 10px;
	left: 30px;
}

.testimonial-closing-sign {
	font-size: 50px;
	color: rgba(0,0,0,0.12);
	position: absolute;
	bottom: 45px;
	right: 30px;
}

.testimonial-faces {
	max-width: 500px;
	margin: auto;
	margin-bottom: 30px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 20px;
}

.testimonial-face {
	width: 80px;
	height: 80px;
	margin: auto;
	border-radius: 34px;
	overflow: hidden;
	box-shadow: 0px 0px 1px rgba(0,0,0,0.04), 0px 0px 2px rgba(0,0,0,0.04), 0px 0px 3px rgba(0,0,0,0.02), 0px 0px 5px rgba(0,0,0,0.03);
	border: 4px solid #fff;
	transition: 0.3s;
	cursor: pointer;
	object-fit: cover;
}

.testimonial-face img {
	object-fit: cover;
}

.testimonial-face:hover {
	scale: 1.05;
	border-color: salmon;
}

.testimonial-face-selected {
	border-color: salmon;
}

.testimonial-face img {
	height: 100%;
}

.press-section {
	padding: 0px;
	padding-bottom: 0px;
}

.press-logos {
	max-width: 900px;
	margin: auto;
	display: grid;
	grid-gap: 0px;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 40px;
	margin-bottom: 40px;
}

.press-logos img {
	height: 40px;
}

.press-links {
	display:grid;
	align-items:center;
	justify-content:center;
}

.press-link {
	font-size: 18px;
	color:#004dff;
	margin: auto;
	margin-bottom: 22px;
	grid-gap: 10px;
	clear: both;
	border-radius: 4px;
	overflow: hidden;
	transition: 0.2s;
	box-shadow: 0px 0px 1px rgba(0,0,0,0.1), 0px 0px 2px rgba(0,0,0,0.04), 0px 0px 3px rgba(0,0,0,0.02), 0px 0px 5px rgba(0,0,0,0.03);
}

.press-link:hover {
	scale: 1.05;
}

.press-link-1 {
	margin-left: 50px !important;
	background: #f8e4bd;
	transform: rotate(-1deg);
}

.press-link-2 {
	margin-left: 120px;
	background: #f8d2bd; 
	transform: rotate(1deg);
}

.press-link-3 {
	margin-left: 40px; 
	background: #b5cef0; 
	transform: rotate(-0.7deg);
}

.press-link-4 {
	margin-left: 120px; 
	background: #b5f0b5; 
	transform: rotate(1.2deg);
}

.press-link-5 {
	margin-left: -20px; 
	background: #b5f0eb; 
	transform: rotate(-0.8deg);
}

.press-link-6 {
	margin-left: 100px; 
	background: #d6b5f0; 
	transform: rotate(0.9deg);
}

.press-link-7 {
	margin-left: 180px; 
	background: #f0bdb5; 
	transform: rotate(-1deg);
}

.press-link-logo img {
	height: 30px;
	float: right;
}

.press-link-brand {
	float: right;
	text-align: right;
	line-height: 40px;
	padding: 0px 15px;
	color: rgba(0,0,0,0.65);
}

.press-link-text {
	background: rgba(255,255,255,0.25);
	line-height: 40px;
	padding: 0px 15px;
	box-shadow: 0px 0px 1px rgba(0,0,0,0.04), 0px 0px 2px rgba(0,0,0,0.04), 0px 0px 3px rgba(0,0,0,0.02), 0px 0px 5px rgba(0,0,0,0.03);
	float: left;
	box-sizing: border-box;
}

.pricing-section {
	padding-top: 60px;
	padding-bottom: 40px;
}

#new-pricing {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
	margin-bottom: 10px;
	padding: 0px 15%;
}

#pricing {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 25px;
	max-width: 600px;
	margin: auto;
}

#pricing> div {}

.section-pricing {
	max-width: 320px;
	margin-bottom: 20px;
}

.pricing-notes {
	display: grid;
	justify-content: center;
	margin-bottom: 50px;
}

.pricing-note {
	font-family: "Rajdhani";
	font-size: 17px;
	font-weight: 500;
	/* letter-spacing: 0.8; */
	text-transform: uppercase;
	
	background: #c0d4e7;
	padding: 7px 10px 5px 10px;
	border-radius: 12px;
	margin-bottom: 10px;
	
	display: grid;
	grid-template-columns: 20px 1fr;
	grid-gap: 7px;
	text-align: left;
	
	box-shadow: 0px 0px 1px rgba(0,0,0,0.2);
}

.pricing-note-icon svg {
	width: 20px;
	float: left;
	opacity: 0.8;
}

.pricing-note-small{
	font-size: 15px;
	padding: 5px 10px;
	border-radius: 8px;
}

.big-price-holder {
	font-family: "Rajdhani";
	text-align: center;
	width: 200px;
	margin: auto;
}

.big-price-number {
	font-size: 120px; 
	font-weight: 500;
}

.big-price-text {
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 0.8;
	font-weight: 500;
	color: #222;
	margin-top: -20px;
}

.pricebox {
	background: #fff;
	border-radius: 15px;
	padding: 20px;
	box-shadow: 0px 0px 1px rgba(0,0,0,0.04), 0px 0px 2px rgba(0,0,0,0.04), 0px 0px 3px rgba(0,0,0,0.02), 0px 0px 5px rgba(0,0,0,0.03);
	overflow: hidden;
	position: relative;
}

.price-box {
	text-align: center;
	background: #f5f5f5;
	border-radius: 15px;
	padding: 20px 10px 20px 10px;
}

.price-box-title {
	font-size: 20px;
}

.price-box-description {
	font-size: 12px;
	text-transform: uppercase;
	color:#E13838;
}

#member-benefits {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 10px;
}

.benefits-section {
	padding-bottom: 40px;
}

.simplecard {
	text-align: center;
	background: #fff;
	border-radius: 15px;
	padding: 20px 10px 20px 10px;
	box-shadow: 0px 0px 1px rgba(0,0,0,0.04), 0px 0px 2px rgba(0,0,0,0.04), 0px 0px 3px rgba(0,0,0,0.02), 0px 0px 5px rgba(0,0,0,0.03);
	overflow: hidden;
	position: relative;
}

.simplecard-icon {
	padding: 5px 0px 10px 0px;
}

.simplecard-icon svg {
	width: 30px;
	height: 30px;
}

.simplecard-icon img {
	width: 30px;
	height: 30px;
}

.simplecard-title {
	font-family: "Rajdhani";
	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
}

.simplecard-title-more {
	text-transform: uppercase;
	font-weight: 500;
	margin-bottom: 5px;
}

.simplecard-desc {}

.startups-section {
	padding-top: 60px; 
	padding-bottom: 40px;
}

.startups {
	display: grid;
	grid-gap: 20px;
}

.startup-logos {
	max-width: 800px;
	margin: auto;
	display: grid;
	grid-gap: 30px;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	justify-content:center;
	text-align: center;
}

.startup-logos img{
	height: 50px;
}

.startups > div {
	display: grid;
	align-items: center;
	align-content: center;
}

.startup-row-1 {
	grid-template-columns: 1fr 1fr 1fr;
}
.startup-row-2 {
	grid-template-columns: 2fr 2fr 2fr;
}
.startup-row-3 {
	grid-template-columns: 0.6fr 2fr 2fr 1fr;
}

.startup-row-4 {
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-two {
	grid-template-columns: 1fr 1fr;
}

.grid-three {
	grid-template-columns: 1fr 1fr 1fr;
}

.startupcard {
	text-align: center;
	background: #fff;
	border-radius: 15px;
	padding: 30px 30px 30px 30px;
	box-shadow: 0px 0px 1px rgba(0,0,0,0.04), 0px 0px 2px rgba(0,0,0,0.04), 0px 0px 3px rgba(0,0,0,0.02), 0px 0px 5px rgba(0,0,0,0.03);
	overflow: hidden;
	transition: 0.2s;
	border: 4px solid #fff;
}

.startupcard:hover {
	border-color: peachpuff;
}

.startupcard-logo {
	margin-bottom: 10px;
}

.startupcard-logo img {
	height: 50px;
}

.startupcard-title {
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 10px;
	display: none;
}

.startupcard-description {
	margin-bottom: 20px;
	color:#444;
}

.startupcard-year {
	font-family: "Rajdhani";
	font-size: 13px;
	font-weight: 500;
	text-transform: uppercase;
	color: rgba(0,0,0,0.5);
}

.boardship {
	display: grid;
	grid-gap: 20px;
	padding: 20px 0px;
}

.boardship-2 {
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 80px;
	padding: 20px 50px;
}

.boardship-3 {
	grid-template-columns: 1fr 1fr 1fr;
}

.boardship-mobile {
	display: none;
}

.section-board {
	max-width: 800px;
}

.board {
	text-align: center;
}

.board-photo {
	width: 140px;
	height: 140px;
	background: #ccc;
	border-radius: 60px;
	margin: auto;
	margin-bottom: 15px;
	overflow: hidden;
	border: 5px solid #fff;
	box-shadow: 0px 0px 1px rgba(0,0,0,0.04), 0px 0px 2px rgba(0,0,0,0.04), 0px 0px 3px rgba(0,0,0,0.02), 0px 0px 5px rgba(0,0,0,0.03);
}

.board-photo img {
	width: 100%;
	height: 100%;
}

.board-name {
	font-size: 22px;
	font-weight: 500;
	margin-bottom: 5px;
	color: #000;
}

#location {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
}

.location-info {
	display:grid;
	grid-template-rows: 1fr 2fr 1fr;
	align-items:center;
	justify-content:center;
	text-align: center;
}

.location-title {
	font-size: 22px; 
	font-weight: 500; 
	margin-bottom: 5px;
	color:#000;
}

.location-address {
	font-size: 18px; 
	color:#444;
}

.map-holder {
	background: #fff;
	padding: 5px 5px 5px 5px;
	max-width: 400px;
	width: 100%;
	height: 290px;
	margin: auto;
	border-radius: 7px;
	box-sizing: border-box;
	box-shadow: 0px 0px 1px rgba(0,0,0,0.04), 0px 0px 2px rgba(0,0,0,0.04), 0px 0px 3px rgba(0,0,0,0.02), 0px 0px 5px rgba(0,0,0,0.03);
}

#carousel {
	position: relative;
	z-index: 1;
	margin-top: -135px !important;
}

#footer-holder {
	background: #000;
	margin-top: auto;
	padding: 30px 20px 40px 20px;
	color:#fff;
}

#footer {
	max-width: 960px;
	margin: auto;
	padding: 20px 30px;
	font-family: "Rajdhani";
	font-size: 16px;
	letter-spacing: 0.8;
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
	grid-gap: 20px;
}

.copyright {
	font-family: "Rajdhani";
	text-transform: uppercase;
	letter-spacing: 0.8px;
	margin-top: 60px;
	font-size: 14px;
}

.copyright-bottom {
	font-size: 14px;
	display: none;
	text-transform: uppercase;
}

.footer-title {
	font-weight: 600;
	margin-bottom: 10px;
	color:#fff;
}

.footer-links {
	line-height: 2;
}

.footer-links a {
	display: block;
	color: rgba(255,255,255,0.8);
}

.footer-links a:hover {
	transition: 0.2s;
	color: rgba(255,255,255,1);
}

.documentary-section {
	padding-top: 0px !important;
	padding-bottom: 60px;
}

.youtube-video {
	width: 100%; 
	height: 400px;
	max-width: 700px; 
	box-sizing: border-box; 
	margin: auto; 
	border-radius: 14px; 
	border: 7px solid #fff; 
	box-shadow: 0px 0px 1px rgba(0,0,0,0.04), 0px 0px 2px rgba(0,0,0,0.04), 0px 0px 3px rgba(0,0,0,0.02), 0px 0px 5px rgba(0,0,0,0.03);
}

.socials {
	display: grid; 
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
	grid-gap: 20px;
	padding: 20px 0px;
}

.social {
	
}

.social img {
	height: 30px;
}



.mobile-donate-button-header {
	background: #018669;
	color: #fff !important;
	padding: 0px 14px;
	border-radius: 14px;
}

.mobile-donate-button {
	background: #018669;
	color: #fff;
	padding: 12px 14px;
	border-radius: 14px;
	display: none;
}

@media only screen and (max-width:960px) {
	
	#top-bg {
		height: 580px;
	}
	
	#logo-text {
		margin-right: 13px;
	}
	
	#intro {
		grid-template-columns: 1fr !important;
	}	
	
	.section {
		padding: 20px;
	}
	
	.section-header {
		margin-bottom: 25px;
	}
	
	.intro-header {
		width: 100%;
	}
	
	#header {
		width: 100%;
		box-sizing: border-box;
		padding: 20px;
	}
	
	.events-button {
		display: none;
	}
	
	#top-navigation {
		display: none;
	}
	
	#account {
		display: none;
	}
	
	.mobile-navigation-holder {
		display: block;
	}
	
	.hero-section {
		padding: 0px 20px 60px 20px;
	}
	
	#hero {
		padding: 20px 10px 10px 10px;
	}
	
	#hero-title {
		display: none;
	}
	
	#hero-title-mobile {
		display: block;
	}
	
	#hero-description {
		max-width: 100%;
		font-size: 20px;
		padding: 0px 10px 30px 10px;
	}
	
	#hero-icon-bg {
		width: 100%;
		bottom: 200px;
		scale: 1;
	}
	
	#hero-tagline {
		font-size: 14px;
	}
	
	#hero-links {
		grid-template-columns: 1fr;
	}
	
	#hero-links a {
		width: 140px;
		margin: auto;
	}
	
	#carousel {
		margin-top: -40px !important;
	}

	.section-description {
		font-size: 16px;
	}
	
	#member-benefits {
		grid-template-columns: 1fr 1fr;
	}
	
	.startupcard {
		padding: 12px 20px 15px 20px;
	}
	
	.startupcard-logo {
		margin-bottom: 5px;
	}
	
	.testimonial-section { 
		padding-top: 30px;
	}
	
	.testimonials {
		margin-bottom: 30px;
	}
	
	.testimonial {
		padding: 30px 15px 30px 15px;
	}
	
	.testimonial-text {
		font-size: 16px;
		padding: 0px 0px;
	}
	
	.testimonial-opening-sign {
		top: 0px;
		left: 20px;
	}
	
	.testimonial-closing-sign {
		bottom: 45px;
		right: 20px;
	}
	
	.testimonial-faces {
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 8px;
	}
	
	.testimonial-face {
		width: 60px;
		height: 60px;
		border-radius: 25px;
	}
	
	.benefits-section {
		margin-bottom: 20px;
	}
	
	.pricing-section {
		padding-bottom: 60px;
	}
	
	#pricing {
		grid-template-columns: 1fr;
		padding: 0;
	}
	
	#new-pricing {
		grid-template-columns: 1fr;
		padding: 0;
	}
	
	.pricing-notes {
		margin-bottom: 40px;
	}
	
	.pricing-note-text {
		font-size: 15px;
	}
	
	.documentary-section { 
		padding-top: 10px !important;
	}
	
	.boardship {
		grid-template-columns: 1fr 1fr;
	}
	
	.boardship-mobile {
		display: block;
	}
	
	.board-name {
		font-size: 18px;
	}
	
	#location {
		grid-template-columns: 1fr;
	}
	
	#footer {
		grid-template-columns: 1fr;
	}
	
	.startup-logos {
		grid-template-columns: 1fr 1fr;
	}
	
	.startup-row-1 {
		grid-template-columns: 1fr;
	}
	.startup-row-2 {
		grid-template-columns: 1fr;
	}
	.startup-row-3 {
		grid-template-columns: 1fr;
		margin-top: -20px;
	}
	
	.startup-empty {
		background: #fd9;
	}
	
	.youtube-video {
		height: 240px;
	}
	
	.intro-section {
		margin-top: -20px;
		padding-bottom: 30px;
	}
	
	.press-section {
		padding-top: 20px;
	}
	
	.press-logos { 
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 10px;
	}
	
	.board-photo {
		width: 120px;
		height: 120px;
		border-radius: 50px;
	}
	
	.press-links {
		margin-top: -20px;
	}
	
	.press-link {
		width: 100%;
		margin-left: 0px !important;
	}
	
	.press-link-text {
		/* max-width: 100%; */
		width: 100%;
		text-align: center;
		padding: 2px 20px;
	}
	
	.press-link-brand {
		float: none;
		text-align: center;
		margin: auto;
	}
	
	.press-link-1 {
		background: #f8e4bd;
		transform: rotate(-1deg);
	}
	
	.press-link-2 {
		background: #f8d2bd; 
		transform: rotate(1deg);
	}
	
	.press-link-3 {
		margin-left: 10px;
		margin-right: 10px; 
		background: #b5cef0; 
		transform: rotate(-0.7deg);
	}
	
	.press-link-4 {
		margin-left: 0px;
		margin-right: 0px;
		background: #b5f0b5; 
		transform: rotate(1.3deg);
	}
	
	.press-link-5 {
		margin-left: 10px;
		margin-right: 15px;
		background: #b5f0eb; 
		transform: rotate(-0.8deg);
	}
	
	.press-link-6 {
		margin-left: 20px; 
		background: #d6b5f0; 
		transform: rotate(0.9deg);
	}
	
	.press-link-7 {
		margin-left: 70px; 
		background: #f0bdb5; 
		transform: rotate(-1deg);
	}
	
	.location-title {
		font-size: 18px;
	}
	
	.location-address {
		font-size: 15px;
	}
	
	.location-section {
		/* padding: 0; */
		padding: 10px;
		padding-bottom: 30px;
	}
	
	#footer-holder {
		padding: 20px 20px 20px 20px;
	}
	
	#footer {
		padding: 10px;
	}
	
	.copyright {
		display: none;
	}
	
	.copyright {
		font-family: "Rajdhani";
		font-size: 14px;
		text-transform: uppercase;
		letter-spacing: 0.8px;
	}
	
	.copyright-bottom {
		display: block;
	}
	
	.footer-logo {
		margin-bottom: 10px;
	}
	
	.section-location {
		padding-bottom: 40px;
	}
	
	.socials {
		grid-template-columns: 1fr 1fr; 
	}
	
	.mobile-donate-button {
		display: block;
	}
}
